// Encapsulate Stoplight/Elements styles
:global {
  @import "node_modules/@stoplight/mosaic/themes/default";
  :root {
    --font-prose: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    --font-ui: Inter, ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: "SF Mono", ui-monospace, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
    --font-code: var(--font-mono);
    --fs-paragraph-leading: 22px;
    --fs-paragraph: 16px;
    --fs-code: 14px;
    --fs-paragraph-small: 14px;
    --fs-paragraph-tiny: 12px;
    --lh-paragraph-leading: 1.875;
    --lh-paragraph: 1.625;
    --lh-code: 1.5;
    --lh-paragraph-small: 1.625;
    --lh-paragraph-tiny: 1.625;
    --color-code: var(--color-canvas-tint);
    --color-on-code: var(--color-text-heading);
  }

  [data-theme=light], [data-theme=light] .sl-inverted {
    --text-h: 0;
    --text-s: 0%;
    --text-l: 15%;
    --color-canvas-100: hsla(218, 33%, 94%, 1);
    --color-canvas-200: hsla(218, 35%, 91%, 1);
    --color-canvas-300: hsla(218, 36%, 88%, 1);
    --code-puncturation-color: rgb(51, 51, 51);
    --code-string-color: rgb(3, 47, 98);
    --color-warning: #d73a49;
    --color-danger: var(--color-warning);
    --color-border: #dadde1;
    --navitem-bg-color: var(--color-canvas-100);
    --navitem-text-color: var(--color-text);
    --navitem-text-active-color: hsla(114, 30%, 62%);
  }

  [data-theme=dark], [data-theme=dark] .sl-inverted {
    --canvas-h: 240;
    --canvas-s: 4%;
    --canvas-l: 11%;
    --color-canvas-100: hsla(231, 15%, 18%);
    --color-canvas-200: hsla(114, 30%, 62%);
    --color-canvas-300: hsla(114, 30%, 42%);
    --color-panel-title: hsla(240, 4%, 11%, 1);
    --code-puncturation-color: var(--color-text-paragraph);
    --code-string-color: hsla(211, 56%, 69%, 1);
    --color-warning: hsla(26, 100%, 61%, 1);
    --color-border: #444950;
    --navitem-bg-color: #ffffff0d;
    --navitem-text-color: #9ba1a6;
    --navitem-text-active-color: hsla(114, 30%, 62%);
  }
}

.stoplight {
  :global {

    @import "node_modules/@stoplight/mosaic/styles";
    @import "node_modules/@stoplight/elements-core/core";

    .sl-elements-api {
      .sl-sticky {
        --color-canvas-100: var(--color-canvas);
        font-weight: 500;
        color: var(--navitem-text-color);
        font-size: 14px;

        & > div {
          &:not(:first-child) {
            padding-left: .375rem;
            padding-right: .375rem;
          }
        }

        .sl-pl-4 {
          padding-left: .75rem;
        }
        .sl-pr-4 {
          padding-right: .75rem;
        }

        .sl-pr-4, .sl-pl-4 {
          border-radius: .25rem;
        }

        a, div {
          &:hover {
            --color-canvas-200: var(--navitem-bg-color);
          }
        }

        .sl-bg-primary-tint {
          --color-primary-tint: var(--navitem-bg-color);
          color: var(--navitem-text-active-color);
        }

        .hover:hover {
          --color-canvas-200: var(--navitem-bg-color);
        }
      }
    }

    .sl-panel {
      .sl-panel__titlebar {
        button {
          color: var(--color-panel-title);
          &:hover {
            background-color: transparent;
          }
        }
      }
      .sl-text-body {
        color: var(--color-panel-title);
      }
      .sl-panel__content-wrapper {
        .sl-panel__content {
          pre {
            background-color: var(--color-canvas-100);
          }
        }
      }
    }

    .sl-bg-danger {
      background-color: var(--color-danger);
      color: #fff;
    }

    .prism-code {
      .token {
        &.property {
          color: var(--color-text) !important;
        }
        &.punctuation {
          color: var(--code-puncturation-color) !important;
        }
        &.string {
          color: var(--code-string-color) !important;
        }
      }
    }

    .SendButtonHolder {
      button {
        transition: all .2s ease-in-out;
        background-color: hsla(114, 30%, 62%);
        color: var(--color-panel-title);

        &:hover {
          background-color: #a8daa4;
        }
      }
    }
    .JsonSchemaViewer {
      .sl-bg-canvas-pure {
        --color-canvas-pure: var(--color-canvas);
      }
    }
  }
}
