/**
 * SCSS files with the .module.scss suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: transparent;

  @media screen and (max-width: 996px) {
    padding: 2rem;
  }
}

.heroColumns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heroColumn {
  width: 48%;
  text-align: initial;
}

.heroTitle {
  font-size: 48px;
  color: var(--ifm-toc-link-color);
}

.heroSubtitle {
  font-size: 16px;
  color: var(--ifm-menu-color);
}
