{"openapi":"3.0.0","info":{"title":"NEAR Enhanced API powered by Pagoda","description":"Try out our newly released Enhanced APIs - Balances (in Beta) and get what you need for all kinds of balances and token information at ease.\nCall Enhanced APIs using the endpoint in the API URL box, varies by Network.\n\nhttps://near-testnet.api.pagoda.co/eapi/v1\n\nhttps://near-mainnet.api.pagoda.co/eapi/v1\n\nGrab your API keys and give it a try! We will be adding more advanced Enhanced APIs in our offering, so stay tuned. Get the data you need without extra processing, NEAR Blockchain data query has never been easier!\n\nWe would love to hear from you on the data APIs you need, please leave feedback using the widget in the lower-right corner.","version":"0.1"},"servers":[{"url":"https://near-testnet.api.pagoda.co/eapi/v1"}],"paths":{"/NFT/{contract_account_id}/{token_id}":{"get":{"tags":["NFT"],"summary":"Get NFT","description":"This endpoint returns detailed information on the NFT\n for the given `token_id`, NFT `contract_id`, `timestamp`/`block_height`.","parameters":[{"in":"path","name":"contract_account_id","required":true,"schema":{"type":"string"},"style":"simple"},{"in":"path","name":"token_id","required":true,"schema":{"type":"string"},"style":"simple"},{"in":"query","name":"block_height","schema":{"type":"string"},"style":"form"},{"in":"query","name":"block_timestamp_nanos","schema":{"type":"string"},"style":"form"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NftResponse"}}}},"500":{"description":"See the inner `code` value to get more details"}},"security":[{"apiKey":[]}]}},"/NFT/{contract_account_id}/{token_id}/history":{"get":{"tags":["NFT"],"summary":"Get NFT history","description":"This endpoint returns the transaction history for the given NFT and `timestamp`/`block_height`.\n **Note:** The result is centered around the history of the specific NFT and will return list of its passing owners and metadata.\n\n **Limitations**\n * For now, we only support NFT contracts that implement the Events NEP standard.\n * We currently provide the most recent 100 items.\n   Full-featured pagination will be provided in later phases.","parameters":[{"in":"path","name":"contract_account_id","required":true,"schema":{"type":"string"},"style":"simple"},{"in":"path","name":"token_id","required":true,"schema":{"type":"string"},"style":"simple"},{"in":"query","name":"limit","schema":{"type":"integer","format":"int32"},"style":"form"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HistoryResponse"}}}},"500":{"description":"See the inner `code` value to get more details"}},"security":[{"apiKey":[]}]}},"/accounts/{account_id}/NFT":{"get":{"tags":["NFT"],"summary":"Get user's NFT collection overview","description":"For the given `account_id` and `timestamp` or `block_height`, this endpoint returns\n the number of NFTs grouped by `contract_id`, together with the corresponding NFT contract metadata.\n The NFT contract will be present in the response if the `account_id` has at least one NFT there.\n\n **Note:** `block_timestamp_nanos` helps you choose a moment in time, fixing the blockchain state at that time.\n\n **Limitations**\n * We currently provide the most recent 100 items.\n   Full-featured pagination will be provided in later phases.","parameters":[{"in":"path","name":"account_id","required":true,"schema":{"type":"string"},"style":"simple"},{"in":"query","name":"block_height","schema":{"type":"string"},"style":"form"},{"in":"query","name":"block_timestamp_nanos","schema":{"type":"string"},"style":"form"},{"in":"query","name":"limit","description":"Maximum available limit 100","schema":{"type":"integer","format":"int32"},"style":"form"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NftCountsResponse"}}}},"500":{"description":"See the inner `code` value to get more details"}},"security":[{"apiKey":[]}]}},"/accounts/{account_id}/NFT/{contract_account_id}":{"get":{"tags":["NFT"],"summary":"Get user's NFT collection by contract","description":"This endpoint returns the list of NFTs with full details for the given `account_id`, NFT `contract_id`, `timestamp`/`block_height`.\n You can use the `token_id` from this response and then request the NFT history for that token.\n\n **Limitations**\n * We currently provide the most recent 100 items.\n   Full-featured pagination will be provided in later phases.","parameters":[{"in":"path","name":"account_id","required":true,"schema":{"type":"string"},"style":"simple"},{"in":"path","name":"contract_account_id","required":true,"schema":{"type":"string"},"style":"simple"},{"in":"query","name":"block_height","schema":{"type":"string"},"style":"form"},{"in":"query","name":"block_timestamp_nanos","schema":{"type":"string"},"style":"form"},{"in":"query","name":"limit","description":"Maximum available limit 100","schema":{"type":"integer","format":"int32"},"style":"form"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NftsResponse"}}}},"500":{"description":"See the inner `code` value to get more details"}},"security":[{"apiKey":[]}]}},"/accounts/{account_id}/coins":{"get":{"tags":["Coins"],"summary":"Get user's coin balances","description":"This endpoint returns all the countable coin balances (including NEAR, fungible tokens, and _multi-tokens_)\n of the given `account_id`, at the given `timestamp`/`block_height`.\n\n **Limitations**\n * For now, we only support the balance for NEAR and FT contracts that implement the Events NEP standard.\n   We are working on a solution to support other FT contracts, including `wrap.near` and bridged tokens.\n * We are in the process of supporting Multi Token balances.\n * We currently provide the most recent 100 items.\n   Full-featured pagination will be provided in an upcoming update.","parameters":[{"in":"path","name":"account_id","required":true,"schema":{"type":"string"},"style":"simple"},{"in":"query","name":"block_height","schema":{"type":"string"},"style":"form"},{"in":"query","name":"block_timestamp_nanos","schema":{"type":"string"},"style":"form"},{"in":"query","name":"limit","description":"Maximum available limit 100","schema":{"type":"integer","format":"int32"},"style":"form"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoinBalancesResponse"}}}},"500":{"description":"See the inner `code` value to get more details"}},"security":[{"apiKey":[]}]}},"/accounts/{account_id}/coins/NEAR":{"get":{"tags":["Coins"],"summary":"Get user's NEAR balance","description":"This endpoint returns the NEAR balance of the given `account_id`\n at the given `timestamp`/`block_height`.","parameters":[{"in":"path","name":"account_id","required":true,"schema":{"type":"string"},"style":"simple"},{"in":"query","name":"block_height","schema":{"type":"string"},"style":"form"},{"in":"query","name":"block_timestamp_nanos","schema":{"type":"string"},"style":"form"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NearBalanceResponse"}}}},"500":{"description":"See the inner `code` value to get more details"}},"security":[{"apiKey":[]}]}},"/accounts/{account_id}/coins/NEAR/history":{"get":{"tags":["Coins"],"summary":"Get user's NEAR history","description":"This endpoint returns the history of operations with NEAR coins\n for the given `account_id`, `timestamp`/`block_height`.\n\n **Limitations**\n * We currently provide the most recent 100 items.\n   Full-featured pagination will be provided in an upcoming update.","parameters":[{"in":"path","name":"account_id","required":true,"schema":{"type":"string"},"style":"simple"},{"in":"query","name":"limit","schema":{"type":"integer","format":"int32"},"style":"form"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HistoryResponse"}}}},"500":{"description":"See the inner `code` value to get more details"}},"security":[{"apiKey":[]}]}},"/accounts/{account_id}/coins/{contract_account_id}":{"get":{"tags":["Coins"],"summary":"Get user's coin balances by contract","description":"This endpoint returns all the countable coin balances of the given `account_id`,\n for the given contract and `timestamp`/`block_height`.\n For FT contracts, the response has only 1 item in the list.\n For MT contracts, there could be several balances (MT support is still under development).\n\n **Limitations**\n * For now, we support only the balance for FT contracts that implement the Events NEP standard.\n   We are working on a solution to support other FT contracts, including `wrap.near` and bridged tokens.\n * We are in the process of supporting Multi Token balances.","parameters":[{"in":"path","name":"account_id","required":true,"schema":{"type":"string"},"style":"simple"},{"in":"path","name":"contract_account_id","required":true,"schema":{"type":"string"},"style":"simple"},{"in":"query","name":"block_height","schema":{"type":"string"},"style":"form"},{"in":"query","name":"block_timestamp_nanos","schema":{"type":"string"},"style":"form"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoinBalancesResponse"}}}},"500":{"description":"See the inner `code` value to get more details"}},"security":[{"apiKey":[]}]}},"/accounts/{account_id}/coins/{contract_account_id}/history":{"get":{"tags":["Coins"],"summary":"Get user's coin history by contract","description":"This endpoint returns the history of coin operations (FT, other standards)\n for the given `account_id`, `contract_id`, `timestamp`/`block_height`.\n\n **Limitations**\n * For now, we support only FT contracts that implement the Events NEP standard.\n   We are working on a solution to support other FT contracts, including `wrap.near` and bridged tokens.\n * We are in the process of supporting Multi Token history.\n * We currently provide the most recent 100 items.\n   Full-featured pagination will be provided in an upcoming update.","parameters":[{"in":"path","name":"account_id","required":true,"schema":{"type":"string"},"style":"simple"},{"in":"path","name":"contract_account_id","required":true,"schema":{"type":"string"},"style":"simple"},{"in":"query","name":"limit","schema":{"type":"integer","format":"int32"},"style":"form"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HistoryResponse"}}}},"500":{"description":"See the inner `code` value to get more details"}},"security":[{"apiKey":[]}]}},"/nep141/metadata/{contract_account_id}":{"get":{"tags":["Coins"],"summary":"Get FT contract metadata","description":"This endpoint returns the metadata for a given FT contract and `timestamp`/`block_height`.\n\n **Limitations**\n * For now, we support only FT contracts that implement the Events NEP standard.\n   We are working on a solution to support other FT contracts, including `wrap.near` and bridged tokens.","parameters":[{"in":"path","name":"contract_account_id","required":true,"schema":{"type":"string"},"style":"simple"},{"in":"query","name":"block_height","schema":{"type":"string"},"style":"form"},{"in":"query","name":"block_timestamp_nanos","schema":{"type":"string"},"style":"form"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FtContractMetadataResponse"}}}},"500":{"description":"See the inner `code` value to get more details"}},"security":[{"apiKey":[]}]}},"/nep171/metadata/{contract_account_id}":{"get":{"tags":["NFT"],"summary":"Get NFT contract metadata","description":"This endpoint returns the metadata for a given NFT contract and `timestamp`/`block_height`.\n **Note:** This is contract-wide metadata. Each NFT also has its own metadata.","parameters":[{"in":"path","name":"contract_account_id","required":true,"schema":{"type":"string"},"style":"simple"},{"in":"query","name":"block_height","schema":{"type":"string"},"style":"form"},{"in":"query","name":"block_timestamp_nanos","schema":{"type":"string"},"style":"form"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetadataResponse"}}}},"500":{"description":"See the inner `code` value to get more details"}},"security":[{"apiKey":[]}]}}},"components":{"securitySchemes":{"apiKey":{"type":"apiKey","in":"header","name":"x-api-key","description":"Use Pagoda DevConsole API key here"}},"schemas":{"CoinBalancesResponse":{"description":"This response gives the information about all the available balances for the user.\n The answer gives the list of NEAR, FT balances, could be used for Multi Tokens.\n For MTs and other standards, balances could have multiple entries for one contract.","type":"object","properties":{"balances":{"type":"array","items":{"description":"This type describes general coin information.\n It is used for NEAR, FT balances, could be used for Multi Tokens.\n\n For MTs and other standards, we could have multiple coins for one contract.\n For NEAR and FTs, coin_metadata contains general metadata (the only available option, though).","type":"object","properties":{"balance":{"type":"string"},"contract_account_id":{"description":"null for NEAR, not null otherwise","type":"string"},"metadata":{"description":"This type describes general Metadata info, collecting the most important fields from different standards in the one format.\n `decimals` may contain `0` if it's not applicable (e.g. if it's general MT metadata)","type":"object","properties":{"decimals":{"type":"integer","format":"int32"},"icon":{"type":"string"},"name":{"type":"string"},"symbol":{"type":"string"}},"required":["decimals","name","symbol"]},"standard":{"description":"\"nearprotocol\" for NEAR, \"nep141\" for FT","type":"string"}},"required":["balance","metadata","standard"]}},"block_height":{"type":"string"},"block_timestamp_nanos":{"type":"string"}},"required":["balances","block_height","block_timestamp_nanos"]},"FtContractMetadataResponse":{"type":"object","properties":{"block_height":{"type":"string"},"block_timestamp_nanos":{"type":"string"},"metadata":{"description":"The type for FT Contract Metadata. Inspired by\n https://nomicon.io/Standards/Tokens/FungibleToken/Metadata","type":"object","properties":{"decimals":{"type":"integer","format":"int32"},"icon":{"type":"string"},"name":{"type":"string"},"reference":{"type":"string"},"reference_hash":{"type":"string"},"spec":{"type":"string"},"symbol":{"type":"string"}},"required":["decimals","name","spec","symbol"]}},"required":["block_height","block_timestamp_nanos","metadata"]},"HistoryResponse":{"type":"object","properties":{"block_height":{"type":"string"},"block_timestamp_nanos":{"type":"string"},"history":{"type":"array","items":{"description":"This type describes the history of NFT movements.\n Note, it's not attached to any user, it's the whole history of NFT movements.\n `cause` is one of [\"mint\", \"transfer\", \"burn\"]","type":"object","properties":{"block_height":{"type":"string"},"block_timestamp_nanos":{"type":"string"},"cause":{"type":"string"},"new_account_id":{"type":"string"},"old_account_id":{"type":"string"},"status":{"type":"string"}},"required":["block_height","block_timestamp_nanos","cause","status"]}},"nft":{"description":"The type for Non Fungible Token. Inspired by\n https://nomicon.io/Standards/Tokens/NonFungibleToken/Metadata","type":"object","properties":{"metadata":{"description":"The type for Non Fungible Token Metadata. Inspired by\n https://nomicon.io/Standards/Tokens/NonFungibleToken/Metadata","type":"object","properties":{"copies":{"type":"integer","format":"int64"},"description":{"type":"string"},"extra":{"type":"string"},"media":{"type":"string"},"media_hash":{"type":"string"},"reference":{"type":"string"},"reference_hash":{"type":"string"},"title":{"type":"string"}}},"owner_account_id":{"type":"string"},"token_id":{"type":"string"}},"required":["metadata","owner_account_id","token_id"]}},"required":["block_height","block_timestamp_nanos","history","nft"]},"MetadataResponse":{"type":"object","properties":{"block_height":{"type":"string"},"block_timestamp_nanos":{"type":"string"},"metadata":{"description":"The type for Non Fungible Token Contract Metadata. Inspired by\n https://nomicon.io/Standards/Tokens/NonFungibleToken/Metadata","type":"object","properties":{"base_uri":{"type":"string"},"icon":{"type":"string"},"name":{"type":"string"},"reference":{"type":"string"},"reference_hash":{"type":"string"},"spec":{"type":"string"},"symbol":{"type":"string"}},"required":["name","spec","symbol"]}},"required":["block_height","block_timestamp_nanos","metadata"]},"NearBalanceResponse":{"type":"object","properties":{"balance":{"description":"Sum of staked and nonstaked balances","type":"string"},"block_height":{"type":"string"},"block_timestamp_nanos":{"type":"string"},"metadata":{"description":"This type describes general Metadata info, collecting the most important fields from different standards in the one format.\n `decimals` may contain `0` if it's not applicable (e.g. if it's general MT metadata)","type":"object","properties":{"decimals":{"type":"integer","format":"int32"},"icon":{"type":"string"},"name":{"type":"string"},"symbol":{"type":"string"}},"required":["decimals","name","symbol"]}},"required":["balance","block_height","block_timestamp_nanos","metadata"]},"NftCountsResponse":{"type":"object","properties":{"block_height":{"type":"string"},"block_timestamp_nanos":{"type":"string"},"nft_counts":{"type":"array","items":{"type":"object","properties":{"contract_account_id":{"type":"string"},"contract_metadata":{"description":"The type for Non Fungible Token Contract Metadata. Inspired by\n https://nomicon.io/Standards/Tokens/NonFungibleToken/Metadata","type":"object","properties":{"base_uri":{"type":"string"},"icon":{"type":"string"},"name":{"type":"string"},"reference":{"type":"string"},"reference_hash":{"type":"string"},"spec":{"type":"string"},"symbol":{"type":"string"}},"required":["name","spec","symbol"]},"last_updated_at_timestamp_nanos":{"type":"string"},"nft_count":{"type":"integer","format":"int32"}},"required":["contract_account_id","contract_metadata","last_updated_at_timestamp_nanos","nft_count"]}}},"required":["block_height","block_timestamp_nanos","nft_counts"]},"NftResponse":{"type":"object","properties":{"block_height":{"type":"string"},"block_timestamp_nanos":{"type":"string"},"contract_metadata":{"description":"The type for Non Fungible Token Contract Metadata. Inspired by\n https://nomicon.io/Standards/Tokens/NonFungibleToken/Metadata","type":"object","properties":{"base_uri":{"type":"string"},"icon":{"type":"string"},"name":{"type":"string"},"reference":{"type":"string"},"reference_hash":{"type":"string"},"spec":{"type":"string"},"symbol":{"type":"string"}},"required":["name","spec","symbol"]},"nft":{"description":"The type for Non Fungible Token. Inspired by\n https://nomicon.io/Standards/Tokens/NonFungibleToken/Metadata","type":"object","properties":{"metadata":{"description":"The type for Non Fungible Token Metadata. Inspired by\n https://nomicon.io/Standards/Tokens/NonFungibleToken/Metadata","type":"object","properties":{"copies":{"type":"integer","format":"int64"},"description":{"type":"string"},"extra":{"type":"string"},"media":{"type":"string"},"media_hash":{"type":"string"},"reference":{"type":"string"},"reference_hash":{"type":"string"},"title":{"type":"string"}}},"owner_account_id":{"type":"string"},"token_id":{"type":"string"}},"required":["metadata","owner_account_id","token_id"]}},"required":["block_height","block_timestamp_nanos","contract_metadata","nft"]},"NftsResponse":{"type":"object","properties":{"block_height":{"type":"string"},"block_timestamp_nanos":{"type":"string"},"contract_metadata":{"description":"The type for Non Fungible Token Contract Metadata. Inspired by\n https://nomicon.io/Standards/Tokens/NonFungibleToken/Metadata","type":"object","properties":{"base_uri":{"type":"string"},"icon":{"type":"string"},"name":{"type":"string"},"reference":{"type":"string"},"reference_hash":{"type":"string"},"spec":{"type":"string"},"symbol":{"type":"string"}},"required":["name","spec","symbol"]},"nfts":{"type":"array","items":{"description":"The type for Non Fungible Token. Inspired by\n https://nomicon.io/Standards/Tokens/NonFungibleToken/Metadata","type":"object","properties":{"metadata":{"description":"The type for Non Fungible Token Metadata. Inspired by\n https://nomicon.io/Standards/Tokens/NonFungibleToken/Metadata","type":"object","properties":{"copies":{"type":"integer","format":"int64"},"description":{"type":"string"},"extra":{"type":"string"},"media":{"type":"string"},"media_hash":{"type":"string"},"reference":{"type":"string"},"reference_hash":{"type":"string"},"title":{"type":"string"}}},"owner_account_id":{"type":"string"},"token_id":{"type":"string"}},"required":["metadata","owner_account_id","token_id"]}}},"required":["block_height","block_timestamp_nanos","contract_metadata","nfts"]}}}}